body {
  background-image: linear-gradient(#94cde8,#5da1ce);
  background-size: cover;
  min-height: 100vh;
}
.top {
  padding-top: 103px;
  padding-bottom: 74px;
}
.right {
text-align: center;
}
.left {
  text-align: right;
}
.news{
  text-align:center;
  margin-top: 74px;
  height: 584px;

}
.tab{
  padding-top: 82px;
}
h1 {
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px black;

}
