body {
  background-image: linear-gradient(#94cde8,#5da1ce);
  background-size: cover;
  min-height: 100vh;
}
.nav {
  display: flex;
  justify-content: flex-end;
  color: white;
  text-shadow: 2px 2px black;
  font-size:40px;
  margin-right: auto;
}
.Topbar {
  margin-top: 41px;
}
.move-left {
  margin-right: auto;
  justify-self: flex-start;
  font-family: 'Pacifico', cursive;

}
.news{
  text-align:center;
  margin-top: 74px;
  height: 584px;
  padding-top: 87px;

}
.tab{
  padding-top: 82px;
}
h1 {
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px black;

}
a {
  color: white;
}
a:hover {
  color: white;
}
body {
  font-family: 'KoHo', sans-serif;
}
img {
  border-radius: 82px;
 border: 14px solid #ffffff47;
}